version: '3.8'

services:
  web:
    # 指明镜像从当前目录的 Dockerfile 构建
    build: .
    # 映射端口，比如本地5000映射服务器5000
    ports:
      - "8000:8000"
    # 这是关键：挂载数据卷
    # 这会把服务器上 ./data 目录挂载到容器的 /app/data 目录
    # 这样数据库文件就能保存在服务器硬盘上，而不是容器里
    volumes:
      # 方式一：使用命名卷（推荐，全自动，无需手动建文件夹）
      - sqlite_data:/app/data
      # 方式二：使用宿主机目录
#      - ./data:/app/data
    # 启动时确保目录可写（解决 SQLite 常见的 Permission denied 错误）
    command: >
      sh -c "chmod -R 777 /app/data && python app.py"

volumes:
  # 在这里声明命名卷，Docker Compose 会自动创建它
  sqlite_data:
